<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>uno.erp.argocd-portforward</string>
    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/bin/kubectl</string>
        <string>port-forward</string>
        <string>-n</string>
        <string>argocd</string>
        <string>svc/argocd-server</string>
        <string>8080:80</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
